input {
    keyboard {
        xkb {
            layout "us,il"
            options "grp:caps_toggle"
        }
        numlock
        repeat-delay 1000
        repeat-rate 1
    }
    touchpad { tap; dwt; dwtp; }
}

cursor {
    hide-after-inactive-ms 1000
}

layout {
    gaps 0
    empty-workspace-above-first
    default-column-width { proportion 1.0; }
    background-color "#000000"
    preset-column-widths {
        proportion 0.8
        proportion 0.5
        proportion 0.2
    }
    preset-window-heights {
        proportion 0.7
        proportion 0.5
        proportion 0.3
    }
    tab-indicator {
        position "right"
        place-within-column
        hide-when-single-tab
        length total-proportion=1.0
    }
    focus-ring {
        off
        width 1
        active-gradient from="#00ff00" to="#00ffff" angle=45
        inactive-gradient from="#005000" to="#0050ff" angle=45 relative-to="workspace-view"
    }
}

window-rule {
    match is-focused=true
    opacity 1.0
}

window-rule {
    match is-focused=false
    opacity 0.6
}

window-rule {
    match app-id="menu_run"
    open-floating true
    opacity 0.7
    default-column-width { proportion 0.9; }
    default-window-height { proportion 0.9; }
    geometry-corner-radius 20
    clip-to-geometry true
    focus-ring {
        on
        width 0
        active-gradient from="#00ff00ff" to="#00000000" angle=60
    }
}

animations { off; }
prefer-no-csd
overview { zoom 0.25; }
gestures { hot-corners { top-right; }; }
hotkey-overlay { skip-at-startup; }

spawn-at-startup "red"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "ydotoold"
spawn-sh-at-startup "fnott"
spawn-sh-at-startup "foot"
spawn-sh-at-startup "clip --start"
spawn-sh-at-startup "brows --wait-till-online"
spawn-sh-at-startup "ned WindowClosed noempty.sh"

screenshot-path "~/Screenshot.%Y-%m-%d.%H-%M-%S.png"

binds {

    Mod+Shift+Return { spawn "foot"; }
    Mod+Shift+Z { spawn "foot"; }
    Mod+P { spawn "menu_run"; }
    Mod+Space { spawn "brows"; }
    Mod+C { spawn "clip"; }
    Alt+Tab { spawn "getwin.sh"; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+Q { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+I { spawn-sh "fnottctl dismiss"; }

    Mod+Return { focus-window-previous; }
    Mod+J { focus-window-down-or-column-right; }
    Mod+K { focus-window-up-or-column-left; }
    Mod+Shift+J { consume-or-expel-window-right; }
    Mod+Shift+K { consume-or-expel-window-left; }
    Mod+Control+J { move-window-down-or-to-workspace-down; }
    Mod+Control+K { move-window-up-or-to-workspace-up; }

    Mod+H { focus-column-first; }
    Mod+L { focus-column-last; }
    Mod+Control+H { move-column-to-first; }
    Mod+Control+L { move-column-to-last; }
    Mod+Shift+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+W { toggle-column-tabbed-display; }

    Ctrl+Grave repeat=false { toggle-overview; }
    Mod+T { spawn-sh "niriu.sh flock"; }
    Mod+Shift+T { spawn-sh "niriu.sh flock --mode fit"; }
    Mod+S { spawn-sh "niriu.sh flock --workspace focused --mode up"; }
    Mod+Shift+S { spawn-sh "niriu.sh flock --mode up"; }
    Mod+Shift+L { spawn-sh "niriu.sh windo --workspace focused set-window-width '100%'"; }
    Mod+Shift+H { spawn-sh "niriu.sh windo --workspace focused set-window-width '-20%'"; }

    Mod+D { spawn-sh "niriu.sh windo toggle-window-rule-opacity"; }
    Mod+A { spawn-sh "niriu.sh conf --toggle 'animations { on; }'"; }
    Mod+Shift+A { spawn-sh "niriu.sh conf --toggle 'output \"eDP-1\" { scale 2.0; }'"; }
    Mod+Ctrl+A { spawn-sh "niriu.sh conf --reset"; }

    Mod+M { maximize-window-to-edges; }
    Mod+F { maximize-column; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Shift+F { fullscreen-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Left { focus-monitor-left; }
    Mod+Down { focus-monitor-down; }
    Mod+Up { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }

    Mod+Shift+Left { move-column-to-monitor-left; }
    Mod+Shift+Down { move-column-to-monitor-down; }
    Mod+Shift+Up { move-column-to-monitor-up; }
    Mod+Shift+Right { move-column-to-monitor-right; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    Mod+TouchpadScrollUp { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "blight.sh" "up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "blight.sh" "down"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
