input {
    keyboard {
        xkb {
            layout "us,il"
            options "grp:caps_toggle"
        }
        numlock
        repeat-delay 1000
        repeat-rate 1
    }
    focus-ignores-click
    touchpad { tap; dwt; dwtp; }
}

cursor {
    hide-after-inactive-ms 1000
}

layout {
    gaps 0
    empty-workspace-above-first
    default-column-width { proportion 1.0; }
    background-color "#000000"
    preset-column-widths {
        proportion 0.8
        proportion 0.5
        proportion 0.2
    }
    preset-window-heights {
        proportion 0.7
        proportion 0.5
        proportion 0.3
    }
    tab-indicator {
        position "right"
        place-within-column
        hide-when-single-tab
        length total-proportion=1.0
    }
    focus-ring {
        off
        width 1
        active-gradient from="#00ff00" to="#00ffff" angle=45
        inactive-gradient from="#005000" to="#0050ff" angle=45 relative-to="workspace-view"
    }
}

window-rule {
    match is-focused=true
    opacity 1.0
}

window-rule {
    match is-focused=false
    opacity 0.6
}

window-rule {
    match app-id="menu_run"
    open-floating true
    opacity 0.7
    default-column-width { proportion 0.9; }
    default-window-height { proportion 0.9; }
    geometry-corner-radius 20
    clip-to-geometry true
    focus-ring {
        on
        width 0
        active-gradient from="#00ff00ff" to="#00000000" angle=60
    }
}

animations { off; }
prefer-no-csd
overview { zoom 0.25; }
gestures { hot-corners { top-right; }; }
hotkey-overlay { skip-at-startup; }

spawn-at-startup "red"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "ydotoold"
spawn-at-startup "fnott"
spawn-at-startup "foot"
spawn-at-startup "clip" "--start"
spawn-at-startup "brows" "--wait-till-online"
spawn-at-startup "ned" \
    "WindowClosed" "/usr/share/doc/ned/examples/noempty.sh" \
    "KeyboardLayoutSwitched" "/usr/share/doc/ned/examples/showlayout.sh" \
    "Workspace" "/usr/share/doc/ned/examples/magnet.sh --floating --mode float right"

screenshot-path "~/Screenshot.%Y-%m-%d.%H-%M-%S.png"

binds {

    Mod+Shift+Return { spawn "foot"; }
    Mod+Shift+Z { spawn "foot"; }
    Mod+P { spawn "menu_run"; }
    Mod+Space { spawn "brows"; }
    Mod+C { spawn "clip"; }
    Alt+Tab { spawn "getwin.sh"; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+Q { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+I { spawn "fnottctl" "dismiss"; }

    Mod+Return { focus-window-previous; }
    Mod+J { focus-window-down-or-column-right; }
    Mod+K { focus-window-up-or-column-left; }
    Mod+Shift+J { move-window-to-workspace-down; }
    Mod+Shift+K { move-window-to-workspace-up; }
    Mod+Control+J { move-window-to-workspace-down focus=false; }
    Mod+Control+K { move-window-to-workspace-up focus=false; }

    Mod+H { consume-or-expel-window-left; }
    Mod+L { consume-or-expel-window-right; }
    Mod+Control+H { move-column-to-first; }
    Mod+Control+L { move-column-to-last; }
    Mod+Shift+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+W { toggle-column-tabbed-display; }

    Ctrl+Grave repeat=false { toggle-overview; }
    Mod+T { spawn "niriu.sh" "flock" "--mode" "tile" "max"; }
    Mod+Shift+T { spawn "niriu.sh" "flock" "--mode" "tile" "fit"; }
    Mod+S { spawn "niriu.sh" "flock" "--workspace" "focused" "--unfocused" "--mode" "scatter" "up"; }
    Mod+Shift+S { spawn "niriu.sh" "flock" "--unfocused" "--mode" "scatter" "up"; }
    Mod+Shift+L { spawn "niriu.sh" "windo" "--workspace" "focused" "--tiled" "set-window-width" "100%"; }
    Mod+Shift+H { spawn "niriu.sh" "windo" "--workspace" "focused" "--tiled" "set-window-width" "-20%"; }

    Mod+D { spawn "niriu.sh" "windo" "toggle-window-rule-opacity"; }
    Mod+A { spawn "niriu.sh" "conf" "--toggle" "animations { on; }"; }
    Mod+Shift+A { spawn "niriu.sh" "conf" "--toggle" "output \"eDP-1\" { scale 2.0; }"; }
    Mod+Ctrl+A { spawn "niriu.sh" "conf" "--reset"; }
    Mod+N { spawn "niriu.sh" "conf" "--toggle" "input { touchpad { off; }; }"; }

    Mod+M { set-window-width "100%"; }
    Mod+Shift+M { spawn-sh "
        niri msg action set-window-width '100%'
        niri msg action set-window-height '100%'
    "; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+V { toggle-window-floating; }
    Mod+V { spawn-sh "
        niriu.sh ids --workspace focused --floating &&
            niri msg action switch-focus-between-floating-and-tiling ||
            niri msg action toggle-window-floating
    "; }

    Mod+Left { focus-monitor-left; }
    Mod+Down { focus-monitor-down; }
    Mod+Up { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }

    Mod+Shift+Left { move-column-to-monitor-left; }
    Mod+Shift+Down { move-column-to-monitor-down; }
    Mod+Shift+Up { move-column-to-monitor-up; }
    Mod+Shift+Right { move-column-to-monitor-right; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    Mod+TouchpadScrollUp { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "blight.sh" "up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "blight.sh" "down"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 255; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 255; }
    Mod+Ctrl+1 { move-window-to-workspace 1 focus=false; }
    Mod+Ctrl+2 { move-window-to-workspace 2 focus=false; }
    Mod+Ctrl+3 { move-window-to-workspace 3 focus=false; }
    Mod+Ctrl+4 { move-window-to-workspace 4 focus=false; }
    Mod+Ctrl+5 { move-window-to-workspace 5 focus=false; }
    Mod+Ctrl+6 { move-window-to-workspace 6 focus=false; }
    Mod+Ctrl+7 { move-window-to-workspace 7 focus=false; }
    Mod+Ctrl+8 { move-window-to-workspace 8 focus=false; }
    Mod+Ctrl+9 { move-window-to-workspace 9 focus=false; }
    Mod+Ctrl+0 { move-window-to-workspace 255 focus=false; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

include "/home/i/.config/niri/animations.kdl"
include "/home/i/.config/niri/niriush.kdl"
